@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

// fonts
$kakao-regular: "Kakao Regular", sans-serif;
$kakao: "Kakao Light", sans-serif;
$apple: "Apple SD Gothic Neo", sans-serif;
$hansans: "Black Han Sans", sans-serif;

// size
$mobileSize: 770px;
$tabletSize: 1100px;

// color
$orange: #fc9c25;
