// config
@import "./config/reset";
@import "./config/variables";

// components
@import "./components/header";
@import "./components/slider";
@import "./components/menuList";

// screens
@import "./screens/showMenu";
@import "./screens/login";
@import "./screens/join";
@import "./screens/diaryList";
@import "./screens/uploadDiary";
@import "./screens/calendar";

// defaults
* {
  box-sizing: border-box;
}

body {
  font-family: $kakao-regular;
  // width: 100vw;
  // height: 300vh;
  background: linear-gradient(rgb(121, 133, 246), #cce6a8);
}

a {
  text-decoration: none;
}
