header {
  position: fixed;
  width: 100%;
  &#diaryList2 {
    nav {
      ul {
        a {
          li {
            color: black;
          }
          &.myPage {
            color: white;
          }
        }
      }
    }
    a.login,
    a.logout {
      background-color: rgb(218, 198, 151);
    }
  }
  nav {
    ul {
      margin: 15px 0px;
      padding: 5px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 23px;
      font-weight: 600;
      a {
        color: white;
        // margin: 10px 60px;
        &.logo {
          margin-left: 20px;
          margin-right: 90px;
          li {
            display: flex;
            align-items: center;
            font-size: 30px;
            img {
              width: 40px;
              margin-right: 8px;
            }
          }
        }
        &.login,
        &.logout {
          margin-right: 20px;
          padding: 10px 30px;
          border-radius: 5px;
          background-color: rgb(105, 134, 211);
          li {
            font-weight: 400;
            font-size: 20px;
          }
        }
        &.myPage {
          margin-right: 20px;
          padding: 10px 30px;
          border-radius: 5px;
          background-color: rgb(218, 198, 151);
          li {
            font-weight: 400;
            font-size: 20px;
            color: white;
          }
        }
      }
    }
  }
  &#diaryList {
    nav {
      ul {
        a {
          color: black;
        }
      }
    }
  }
}

@media screen and (max-width: $tabletSize) {
  header {
    nav {
      ul {
        a {
          display: none;
          &.logo,
          &.login,
          &.myPage {
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobileSize) {
  header {
    nav {
      ul {
        margin: 5px 0px;
        a {
          &.logo {
            margin-left: 5px;
            margin-right: 0;
            li {
              font-size: 15px;
              img {
                width: 20px;
              }
            }
          }
          &.login,
          &.myPage {
            margin-right: 10px;
            padding: 8px 15px;
            li {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
