<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>menu | Zero-Link</title>
    <link rel="stylesheet" href="./css/style.css" th:href="@{/css/style.css}" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <a class="logo" href="#" th:href="@{/home}"
          >
            <li>
              <img
                src="./photo/logo.png"
                th:src="@{/images/logo.png}"
                alt="logo"
              />
              Zero-Link
            </li>
          </a>
          <a href="#">
            <li>오늘의 상품</li>
          </a>
          <a href="#">
            <li>전체 상품</li>
          </a>
          <a href="diaryList.html" th:href="@{/diary}">
            <li>커뮤니티</li>
          </a>
          <a href="#">
            <li>챌린지</li>
          </a>
          <a
            class="login"
            href="login.html"
            th:href="@{/users/sign-in}"
          >
            <li>Login</li>
          </a>
        </ul>
      </nav>
    </header>
    <section class="product">
      <div class="wrapper">
        <div class="product__col1">
          <img src="./photo/people.png" th:src="${menu.menuImg}" alt="" />
          <a href="#">실시간 수량 알림 신청</a>
        </div>
        <div class="product__col2">
          <p>
            <i
              class="fa-solid fa-angle-right"
            ></i>
            <span th:text="${menu.menuName}">모닝브레드</span>
          </p>
          <p>상품명: <span th:text="${menu.menuName}">피자빵</span></p>
          <p>수량: <span th:text="${menu.menuQuantity}">3</span>개</p>
          <p class="price">
            가격: <del><span th:text="${menu.menuOriginalPrice}">4,000</span>원</del
            ><b><span th:text="${menu.menuDiscountPrice}">2,500</span>원</b>
          </p>
          <p><i class="fa-solid fa-circle-info"></i>매장 픽업, 직접 결제</p>
          <p>
            <i class="fa-solid fa-clock"></i>운영 시간: <span th:text="${restaurant.closeTime}">22</span>시
          </p>
          <p>
            <i class="fa-solid fa-mobile-screen-button"></i>연락처:
            <span th:text="${restaurant.restaurantPhone}">010-1234-5678</span>
          </p>
        </div>
      </div>
    </section>
    <script
      src="https://kit.fontawesome.com/271532994e.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
