<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>menu | Zero-Link</title>
    <link rel="stylesheet" href="./css/style.css" th:href="@{/css/style.css}" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <a class="logo" href="#">
            <li>
              <img
                src="./photo/logo.png"
                th:src="@{/images/logo.png}"
                alt="logo"
              />
              Zero-Link
            </li>
          </a>
          <a href="#">
            <li>오늘의 상품</li>
          </a>
          <a href="#">
            <li>전체 상품</li>
          </a>
          <a href="diaryList.html" th:href="@{}">
            <li>커뮤니티</li>
          </a>
          <a href="#">
            <li>챌린지</li>
          </a>
          <a
            class="login"
            href="login.html"
            th:href="@{/users/sign-in}"
            th:if="${user.userIdx} == false"
          >
            <li>Login</li>
          </a>
          <a
            class="logout"
            href="#"
            th:href="#"
            th:if="${user.userIdx} == true"
          >
            <li>Logout</li>
          </a>
        </ul>
      </nav>
    </header>
    <section class="product">
      <div class="wrapper">
        <div class="product__col1">
          <img src="./photo/people.png" th:src="@{/images/people.png}" alt="" />
          <a href="#">실시간 수량 알림 신청</a>
        </div>
        <div class="product__col2">
          <p>
            <i
              class="fa-solid fa-angle-right"
              th:text="${menu.menuName} (${menu.restaurant.distance})"
            ></i>
            모닝브레드 (이문동)
          </p>
          <p th:text="상품명: ${menu.menuName}">상품명: 피자빵</p>
          <p th:Text="수량: ${menu.menuQuantity} 개">수량: 3개</p>
          <p class="price">
            가격: <del th:text="${menu.menuOriginalPrice}원">4,000원</del
            ><b th:text="${menu.menuDiscountPrice}">2,500원</b>
          </p>
          <p><i class="fa-solid fa-circle-info"></i>매장 픽업, 직접 결제</p>
          <p th:text="운영 시간: ${menu.restaurant.closeTime}시">
            <i class="fa-solid fa-clock"></i>운영 시간: 22시
          </p>
          <p th:text="연락처: ${menu.restaurant.restaurantPhone}">
            <i class="fa-solid fa-mobile-screen-button"></i>연락처:
            010-1234-5678
          </p>
        </div>
      </div>
    </section>
    <script
      src="https://kit.fontawesome.com/271532994e.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
